.git
.venv
venv
.install-check
.env
.env.*
!**/.env.example.j2
*.db
*.db-*
*.log
**/__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
.coverage*
dist
build
my-ml-project

site
coverage.xml
.hypothesis
.idea
.vscode
