SECRET_KEY="9cd1a4d415c33ed344298b14ea82c18616a37b48717bd6b46e4099fde1b9d2b6"
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
DATABASE_URL=sqlite:///./flunky.db
SQL_ECHO=False
LOG_LEVEL=INFO
LOG_DIR=logs