import { MongoClient } from 'mongodb';
export async function connectDatabase() {
  if (!process.env.MONGODB_URI) throw new Error('Set MONGODB_URI');
  const client = new MongoClient(process.env.MONGODB_URI);
  await client.connect();
  return client;
}
